header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: white;
    margin-bottom: 50px;
}

.box1 {
    background-color: orange;
    width: 100%;
    height: 900px;
    padding-top: 50px;
}

img {
    height: 75px;
    width: 100px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.box2 {
    margin: 20px;
    margin-left: 30%;
    color: grey;
    font-size: 20px;
}

.box3 {
    margin-top: 20px;
    margin-left: 40%;
}

.box7 {
    background-color: black;
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 10px;
}

.box4 {
    color: white;
    font-size: 65px;
    margin-bottom: none;
}

.box5 {
    color: white;
}

.box6 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 20px;
    padding-left: 50px;
}

.box8 {
    margin-left: 50%;
}