body {
    display: flex;
    justify-content: space-around;

}

div {
    height: 350px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-right: 350px;
    box-shadow: 0 0 20px 0 black;
    border-radius: 20px;
    padding: 20px;
}


img {
    width: 500px;
    height: 500px;
}