body {
    background-color: rgb(219, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(83, 81, 81);
    height: 100px;
    padding: 0 20px;
}

h1 {
    margin-top: 10px;
    color: red;
}

.box1 {
    margin-left: 1100px;
        margin-bottom: 80px;
}

button {
    height: 30px;
    width: 65px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: orange;
    border: none;
}

.box2 {
    height: 300px;
    width: 1200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow:  0  15px 15px rgb(90, 90, 90);
}

h2 {
    margin-left: 500px;
}

table {
    border: 1px solid blue;
    width: 1100px;
    margin-left: 50px;
    height: 150px;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    text-align: center;
}

.tr1 {
    background-color: black;
   color: white;
}
.in1 {
    margin-left: 400px;
}

input {
    border: 1px solid grey;
    padding: 5px;
    border: none;
}

.submit {
    background-color: black;
    color: white;
    border-radius: 5px;
}