body {
    background-color: rgb(219, 213, 213);
}

header {
    width: 100%;
    background-color: black;
    height: 100px;
}

h1 {
    margin-top: 10px;
    color: red;
}

.box1 {
    margin-left: 1100px;
}

button {
    height: 30px;
    width: 65px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: orange;
    border: none;
}

.box2 {
    height: 350px;
    width: 1200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 20px;
}

h2 {
    margin-left: 500px;
}

table {
    border: 1px solid black;
    width: 1100px;
    margin-left: 50px;
    height: 150px;
}

td {
    border: 1px solid black;
    text-align: center;
}

.tr1 {
    background-color: black;
    color: white;
}

h3 {
    margin-left: 500px;
}
.in1{
     margin-left: 400px;
}
input{
border: 1px solid grey;
padding: 5px;
}
.submit{
background-color: black;
color: white;

}